.top{
    padding: 6% 20% 3% 20%;
}
.content {
    position: absolute;
    width: 98%;
    height: 100%;
    padding: 33% 4% 0vw 4%;
}

.proerty-bg{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
    color: #ffffff;
}
.proerty-bg:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.proerty-content{
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    padding: 1% 0% 1% 0%;
}
.property-h3{
    color: #ffffff;
    text-align: center;
    font-size: 4vw;
}
@media only screen and (max-width: 991px) {
    .top{
        padding: 30% 20% 3% 20%;
    }
}
@media only screen and (max-width: 781px) {
    .top{
        padding: 35% 20% 3% 20%;
    }
    .content {
        width: 96%;
    }
    
}
@media only screen and (max-width: 767px) {
    .top{
        padding: 65%  20% 3% 20%;
    }    
}
@media only screen and (max-width: 767px) {
    .top{
        padding: 65%  20% 3% 20%;
    }    
}
@media only screen and (max-width: 676px) {
    .top{
        padding: 70%  20% 3% 20%;
    }    
}
